<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Exemplo</title>
        @include('links')
    </head>
    <body>
        @include('header_without_menu')
        <dialog class="elevated2">
            <h2>Título do Dialog</h2>
            <p class="paragraph1 low-emph">
                Texto do Dialog com cada vez mais palavras escritas para tentar forçar uma quebra de linha. Espero que isto seja o suficiente.
            </p>
            <button onclick="closeDialog()" class="raised">Positivo</button>
            <button onclick="closeDialog()" class="text">Negativo</button>
        </dialog>

        <section class="main elevated1">
            <h1>Criar conta</h1>

            <hr>
            <fieldset>
                <label for="input">NOME COMPLETO</label>
                <input type="text" name="input" id="input" placeholder="Digitei seu nome">
            </fieldset>
			<fieldset>
                <label for="input">E-MAIL</label>
                <input type="text" name="input" id="input" placeholder="Digite seu e-mail">
            </fieldset>
			<div class="row">
                <fieldset class="col-md-6">
                    <label for="esq">MATRÍCULA</label>
                    <input type="text" name="esq" id="esq" placeholder="Digite sua matrícula">
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col-md-6">
                    <label for="esq">SENHA</label>
                    <input type="password" name="esq" id="esq" placeholder="Crie uma senha">
                </fieldset>

                <fieldset class="col-md-6">
                    <label for="dir">CONFIRMAR</label>
                    <input type="password" name="dir" id="dir" placeholder="Confirme sua senha">
                </fieldset>
            </div>

            <div class="float-end my-4">
                <button class="text">Fazer login</button>
                <button class="raised ms-4">Criar conta</button>
            </div>
			
            <hr>


        <script>
            function openDialog() {
                let dialog = document.querySelector('dialog');
                dialog.showModal();
            }

            function closeDialog() {
                let dialog = document.querySelector('dialog');
                dialog.close();
            }
        </script>
    </body>
</html>