<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Cadastre-se</title>
        @include('links')

        <script src="/js/dialog.js"></script>
        <script src="/js/register.js"></script>
    </head>
    <body>
        @include('header_without_menu')
        <dialog class="elevated2">
            <h2>Verifique as Informações</h2>
            <p class="paragraph1 low-emph"></p>
            <button onclick="closeDialog()" class="raised"></button>
            <button onclick="closeDialog()" class="text" hidden></button>
        </dialog>

        <section class="main elevated1">
            <h1>Criar conta</h1>

            <hr>
            <form>
            <fieldset>
                <label for="name">NOME COMPLETO</label>
                <input type="text" name="name" id="name" placeholder="Digitei seu nome" required>
            </fieldset>
			<fieldset>
                <label for="email">E-MAIL</label>
                <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
            </fieldset>
			<div class="row">
                <fieldset class="col-md-6">
                    <label for="registration">MATRÍCULA</label>
                    <input type="text" name="registration" id="registration" placeholder="Digite sua matrícula" required pattern="\d{10}|\d{11}">
                </fieldset>
            </div>
            </form>
            <div class="row">
                <fieldset class="col-md-6">
                    <label for="password">SENHA</label>
                    <input type="password" name="password" id="password" placeholder="Crie uma senha" required>
                </fieldset>

                <fieldset class="col-md-6">
                    <label for="confirmPassword">CONFIRMAR</label>
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirme sua senha" required>
                </fieldset>
            </div>

            <div class="float-end my-4">
                <button class="text" onclick="document.location.href='/login'">Fazer login</button>
                <button class="raised ms-4" onclick="register()">Criar conta</button>
            </div>
			
            <hr>
    </body>
</html>