<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Propostas</title>
        @include('links')
    </head>
    <body>
        @include('header')
        <section class="main elevated1">
            <h1>Propostas Registradas</h1>
            <p class="paragraph1 low-emph" style="margin-bottom: 32px;">
                Listagem das propostas de Trabalhos de Conclusão de Curso submetidas pelos professores do Curso de Ciência da Computação, caso tenha intersse em alguma proposta indique seu interesse ao professor responsável.
            </p>

            @each(proposal in proposals)
            <div class="card">
                <div class="description">
                    <span class="overline">{{proposal.researchArea}}</span>
                    <span class="title">{{proposal.title}}</span>
                    <span class="text">Criado por {{proposal.professor.name}}</span>
                </div>
                <p class="paragraph2">{{proposal.description}}</p>
                <div class="action">
                    <button class="text">Manifestar Interesse</button>
                </div>
            </div>
            @end

            <div class="pagination">
                <a href="#" class="unavailable"><span class="material-icons">first_page</span></a>
                <a href="#" class="unavailable"><span class="material-icons">navigate_before</span></a>
                <a href="#" class="selected">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#"><span class="material-icons">navigate_next</span></a>
                <a href="#"><span class="material-icons">last_page</span></a>
            </div>
        </section>
    </body>
</html>