<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Exemplo</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="global.css">
    </head>
    <body>
        @include('header')
        <section class="main elevated1">
            <h1>Propostas Registradas</h1>
            <p class="paragraph1 low-emph" style="margin-bottom: 32px;">
                Listagem das propostas de Trabalhos de Conclusão de Curso submetidas pelos professores do Curso de Ciência da Computação, caso tenha intersse em alguma proposta indique seu interesse ao professor responsável.
            </p>

            <div class="card">
                <div class="description">
                    <span class="overline">Engenharia de Software</span>
                    <span class="title">Estudo Sobre a Adoção de Práticas Ágeis nas Corporações</span>
                    <span class="text">Professor Cheio de Ideias</span>
                </div>
                <p class="paragraph2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="action">
                    <button class="text">Manifestar Interesse</button>
                </div>
            </div>

            <div class="card">
                <div class="description">
                    <span class="overline">Algoritmos e Combinatória</span>
                    <span class="title">Uma Nova Heurística Para o TSP</span>
                    <span class="text">Professor Incrivelmente Dedicado</span>
                </div>
                <p class="paragraph2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="action">
                    <button class="text">Manifestar Interesse</button>
                </div>
            </div>

            <div class="card">
                <div class="description">
                    <span class="overline">Computação de Alta Performance</span>
                    <span class="title">Paralelizando Particle Swarm Optimization em GPU</span>
                    <span class="text">Professora Mirabolante</span>
                </div>
                <p class="paragraph2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="action">
                    <button class="text">Manifestar Interesse</button>
                </div>
            </div>

            <div class="pagination">
                <a href="#" class="unavailable"><span class="material-icons">first_page</span></a>
                <a href="#" class="unavailable"><span class="material-icons">navigate_before</span></a>
                <a href="#" class="selected">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#"><span class="material-icons">navigate_next</span></a>
                <a href="#"><span class="material-icons">last_page</span></a>
            </div>
        </section>
    </body>
</html>