<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de TCC - Exemplo</title>
    @include('links')

    <style>
        @media (max-width: 576px){
            .container-titulo * {
                font-size: 20pt;
            }
        }
        @media (min-width: 576px){
            .container-titulo * {
                font-size: 40pt;
            }
        }
    </style>

</head>

<body class="d-flex flex-column bg-white">
    @include('header_without_menu')
    <section class="main d-flex flex-column align-items-center container">
        <div class="container-titulo">
            <h1 class="mb-0">SISTEMA DE</h1>
            <h1 class="fw-normal">GERENCIAMENTO DE TCC</h1>
        </div>
        <div style="width:400px; max-width: 95vw;" class="d-flex flex-column">
            <fieldset>
                <label for="input">E-MAIL</label>
                <input type="text" name="input" id="input" placeholder="Digite seu e-mail">
            </fieldset>


            <fieldset class="mb-4">
                <label for="esq">SENHA</label>
                <input class="w-100" type="password" name="input" id="input" placeholder="Digite sua senha">
            </fieldset>


            <button class="raised mb-2">ENTRAR</button>
            <button class="outlined">CADASTRE-SE</button>
            <button class="text">Esqueceu a senha?</button>
        </div>

    </section>

    <script>
        function openDialog() {
            let dialog = document.querySelector('dialog');
            dialog.showModal();
        }

        function closeDialog() {
            let dialog = document.querySelector('dialog');
            dialog.close();
        }
    </script>
</body>

</html>