<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Exemplo</title>
        @include('links')
    </head>
    <body>
        @include('header_without_menu')
        <section class="main elevated1">
            <h1><strong>Recuperar Senha</strong></h1>

            <hr>
            <fieldset>
                <label for="input">E-MAIL</label>
                <input type="text" name="input" id="input" placeholder="Digite seu e-mail">
            </fieldset>
            <div class="d-flex flex-column mt-4 align-items-end">
                <button class="raised mt-2">ENVIAR CÓDIGO</button>
            </div>
        </section>

        <script>
            function openDialog() {
                let dialog = document.querySelector('dialog');
                dialog.showModal();
            }

            function closeDialog() {
                let dialog = document.querySelector('dialog');
                dialog.close();
            }
        </script>
    </body>
</html>