<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Exemplo</title>
        @include('links')
    </head>
    <body>
        @include('header')
        <dialog class="elevated2">
            <h2>Título do Dialog</h2>
            <p class="paragraph1 low-emph">
                Texto do Dialog com cada vez mais palavras escritas para tentar forçar uma quebra de linha. Espero que isto seja o suficiente.
            </p>
            <button onclick="closeDialog()" class="raised">Positivo</button>
            <button onclick="closeDialog()" class="text">Negativo</button>
        </dialog>

        <section class="main elevated1">
        <form action={{ route('/api/createProposal')}} method="POST">
            <h1>Cadastrar Proposta de Trabalho</h1>
            <p class="paragraph1 low-emph">
                Preencha todos os campos obrigatórios e clique "Enviar".
            </p>

            <hr>
            <fieldset>
                <label for="input">Título</label>
                <input type="textarea" name="title" id="input" placeholder="Insira o título">
            </fieldset>

            <fieldset>
                <label for="research_area">Área de Pesquisa</label>
                <select name="research_area" id="research_area" placeholder="Selecione a área de pesquisa">
                    @each(item in researchAreas)
                        <option value={{item.id}}>{{item.name}}</option>
                    @end
                </select>
            </fieldset>

            <input type="hidden" id="professor" name="professor" value="Filipe Braida">

            <fieldset>
                <label for="area">Descrição</label>
                <input type="textarea" name="descricao" id="area" placeholder="Insira aqui a descrição">
            </fieldset>

            <div class="enviarForm">
                <button type="submit" class="raised">Enviar</button>
            </div>
        </form>
        </section>

        <script>
            function openDialog() {
                let dialog = document.querySelector('dialog');
                dialog.showModal();
            }

            function closeDialog() {
                let dialog = document.querySelector('dialog');
                dialog.close();
            }
        </script>
    </body>
</html>
