<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Exemplo</title>
        @include('links')
        <script src="/js/createTcc.js"></script>
    </head>
    <body>
        @include('header')
        <section class="main elevated1">
            <h1>Enviar Trabalho de conclusão de curso</h1>
            <p class="paragraph1 low-emph">
                Preencha todos os campos obrigatórios e clique "Enviar". Após a confirmação do envio, seu trabalho será revisado pelo coordenador para aprovação.
            </p>

            <hr>
            <fieldset>
                <label for="input">Título</label>
                <input type="text" name="input" id="title" placeholder="Insira o título">
            </fieldset>

            <div class="side-by-side-fields">
                <fieldset class="half">
                    <label for="esq">Autores</label>
                    <input type="text" name="esq" id="authors" placeholder="Insira os autores separados por virgula">
                </fieldset>

                <fieldset class="half">
                    <label for="dir">Orientador(a)</label>
                    <input type="text" name="dir" id="professor" placeholder="Insira o/a Orientador(a)">
                </fieldset>
            </div>

            <fieldset>
                <label for="select">Área de Pesquisa</label>
                <select name="select" id="research-area" placeholder="Selecione a área de pesquisa">
                    @each(item in researchAreas)
                        <option value={{item.id}}>{{item.name}}</option>
                    @endeach
                </select>
            </fieldset>

            <div class="side-by-side-fields">
                <fieldset class="half">
                    <label for="area">Resumo</label>
                    <textarea name="area" id="resumo" placeholder="Insira aqui seu resumo"></textarea>
                </fieldset>

                <fieldset class="half">
                    <label for="area">Abstract</label>
                    <textarea name="area" id="abstract" placeholder="Insira aqui seu abstract"></textarea>
                </fieldset>
            </div>

            <fieldset class="file">
                <label for="file" class="file-input">
                    Escolher Arquivo
                </label>
                <span class="file-name">Nenhum arquivo selecionado</span>
                <input type="file" name="file" id="file" onchange="on_file_change()">
            </fieldset>

            <div class="enviarForm">
                <button class="raised" onclick="send_tcc()">Enviar</button>
            </div>
        </section>
    </body>
</html>
