<header class="app-bar elevated2">
    <img id="logo" src="../img/ufrrj.jpg" alt="UFRRJ">
    <span class="app-name"><strong>SISTEMA DE</strong><br> GERENCIAMENTO DE TCC</span>
    <a href="#" class="material-icons menu">menu</a>
    @include('hamburguer_menu')
</header>