<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Propostas</title>
        @include('links')
        @if(auth.user.role === 'student')
        <script>
            function editProposal(id) {
                
            }
        </script>
        @endif
    </head>
    <body>
        @include('header')
        <section class="main elevated1">
            <h1>Propostas Registradas</h1>
            <p class="paragraph1 low-emph" style="margin-bottom: 32px;">
                Listagem das propostas de Trabalhos de Conclusão de Curso submetidas pelos professores do Curso de Ciência da Computação, caso tenha intersse em alguma proposta indique seu interesse ao professor responsável.
            </p>

            @each(proposal in proposals)
            <div class="card">
                <div class="description">
                    <span class="overline">{{proposal.researchArea}}</span>
                    <span class="title">{{proposal.title}}</span>
                    <span class="text">Criado por {{proposal.professor.name}}</span>
                </div>
                <p class="paragraph2">{{proposal.description}}</p>
                @if(auth.user.role === 'student')
                    <div class="action">
                        <button class="text">Manifestar Interesse</button>
                    </div>
                @elseif(auth.user.role === 'professor' && auth.user.id === proposal.professor.user_id)
                <div class="action">
                    <a class="text" href="/alterarProposta?p={{proposal.id}}">Alterar Proposta</a>
                </div>
                @endif
            </div>
            @endeach
        </section>
    </body>
</html>