<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC</title>
        @include('links')

        <script>
            const currentPage = {{ request.input('page', 1) }}
            
            let currentQuery = ''
            let currentField = ''
            @if (auth.user.role === 'coordinator')
                const viewPending = true
                const detailURL = 'aprovacoesPendentes'
            @else
                const detailURL = 'verTrabalho'
            @endif
        </script>
        <script src="/js/pagination.js"></script>
        <script src="/js/tccListItem.js"></script>
        <script src="/js/listTcc.js"></script>
    </head>
    <body>
        @include('header')
        <section class="main elevated1">
            <h1>Trabalhos enviados</h1>
            <p class="paragraph1 low-emph">
                Listagem de todos os trabalhos enviados por discentes do Curso de Ciência da Computação. Aplique os filtros desejados para refinar sua busca
            </p>

            <div class="filters">
                <div class="side-by-side-fields">
                    <fieldset class="half">
                        <label for="query">Busque por Título, Autor ou Orientador</label>
                        <input type="text" name="query" id="query" placeholder="Digite sua busca aqui">
                    </fieldset>
    
                    <fieldset class="half">
                        <label for="field">Área</label>
                        <select name="field" id="field">
                            <option value="">Selecione</option>
                            @each(field in research_areas)
                                <option value="{{field.id}}">{{field.name}}</option>
                            @endeach
                        </select>
                    </fieldset>
                </div>
                
                <button class="raised" onclick="filter()">Buscar</button>
            </div>

            <hr>

            <ul>
                
            </ul>

            <div class="pagination">
                <a href="#"><span class="material-icons">first_page</span></a>
                <a href="#"><span class="material-icons">navigate_before</span></a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#"><span class="material-icons">navigate_next</span></a>
                <a href="#"><span class="material-icons">last_page</span></a>
            </div>
        </section>
    </body>
</html>