<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de TCC - Exemplo</title>
    @include('links')

    <style>
        @media (max-width: 576px){
            .container-titulo * {
                font-size: 20pt;
            }
        }
        @media (min-width: 576px){
            .container-titulo * {
                font-size: 40pt;
            }
        }
    </style>

    <script>
        async function login() {
            const loggedIn = await fetch('/api/login', {
                method: 'POST',
                headers: new Headers({
                    'Content-Type': 'application/json',
                }),
                body: JSON.stringify({
                    email: document.getElementById('email').value,
                    password: document.getElementById('password').value,
                }),
            });

            if (loggedIn.status !== 200) {
                alert('Email ou Senha incorretos')
            } else {
                const res = await loggedIn.json()
                document.cookie = `token=${res.token.token}`
                alert('Entrouu')
            }
        }
    </script>

</head>

<body class="d-flex flex-column bg-white">
    @include('header_without_menu')
    <section class="main d-flex flex-column align-items-center container">
        <div class="container-titulo">
            <h1 class="mb-0">SISTEMA DE</h1>
            <h1 class="fw-normal">GERENCIAMENTO DE TCC</h1>
        </div>
        <div style="width:400px; max-width: 95vw;" class="d-flex flex-column">
            <fieldset>
                <label for="email">E-MAIL</label>
                <input type="text" name="email" id="email" placeholder="Digite seu e-mail">
            </fieldset>


            <fieldset class="mb-4">
                <label for="password">SENHA</label>
                <input class="w-100" type="password" name="password" id="password" placeholder="Digite sua senha">
            </fieldset>


            <button class="raised mb-2" onclick="login()">ENTRAR</button>
            <button class="outlined">CADASTRE-SE</button>
            <button class="text">Esqueceu a senha?</button>
        </div>

    </section>
</body>

</html>