<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de TCC</title>
    @include('links')

    <style>
        @media (max-width: 576px){
            .container-titulo * {
                font-size: 20pt;
            }
        }
        @media (min-width: 576px){
            .container-titulo * {
                font-size: 40pt;
            }
        }
    </style>

    <script src="/js/login.js"></script>
</head>

<body class="d-flex flex-column bg-white">
    @include('header_without_menu')
    <section class="main d-flex flex-column align-items-center container">
        <div class="container-titulo">
            <h1 class="mb-0">SISTEMA DE</h1>
            <h1 class="fw-normal">GERENCIAMENTO DE TCC</h1>
        </div>
        <div style="width:400px; max-width: 95vw;" class="d-flex flex-column">
            <form onsubmit="login()">
                <fieldset>
                    <label for="email">E-MAIL</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                </fieldset>


                <fieldset class="mb-4">
                    <label for="password">SENHA</label>
                    <input class="w-100" type="password" name="password" id="password" placeholder="Digite sua senha" required>
                </fieldset>

                <input type="submit" value="" style="display: none">
            </form>
            <button class="raised mb-2" onclick="login()">ENTRAR</button>
            <button class="outlined" onclick="document.location.href='/cadastrar'">CADASTRE-SE</button>
            <button class="text" onclick="document.location.href='/recuperarSenha'">Esqueceu a senha?</button>
        </div>

    </section>
</body>
</html>