<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sistema de Gerenciamento de TCC - Exemplo</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="global.css">
    </head>
    <body>
        <header class="app-bar elevated2">
            <img id="logo" src="../img/ufrrj.jpg" alt="UFRRJ">
            <span class="app-name"><strong>SISTEMA DE</strong><br> GERENCIAMENTO DE TCC</span>
            <a href="#" class="material-icons menu">menu</a>
            <nav class="elevated2">
                <span class="hello">Olá, Fulano da Silva</span>
                <a href="#">Sair</a>
                <a href="#">Ver Trabalhos</a>
                <a href="#">Ver Propostas</a>
                <section class="nav-discente">
                    <a href="#">Enviar Trabalho</a>
                </section>
                <section class="nav-coordenador">
                    <a href="#">Aprovações Pendentes</a>
                </section>
                <section class="nav-docente">
                    <a href="#">Cadastrar Propostas</a>
                </section>
            </nav>
        </header>

        <section class="main elevated1">
            <h1><strong>Recuperar Senha</strong></h1>

            <hr>
            <fieldset>
                <label for="input">E-MAIL</label>
                <input type="text" name="input" id="input" placeholder="Digite seu e-mail">
            </fieldset>
            <div class="d-flex flex-column mt-4 align-items-end">
                <button class="raised mt-2">ENVIAR CÓDIGO</button>
            </div>
        </section>

        <script>
            function openDialog() {
                let dialog = document.querySelector('dialog');
                dialog.showModal();
            }

            function closeDialog() {
                let dialog = document.querySelector('dialog');
                dialog.close();
            }
        </script>
    </body>
</html>